{% extends "main/base.html" %} {% load staticfiles %} {% block content %}
<nav class="white">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo blue-text">evon</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="blue-text">유병훈</a>
            </li>
            <li>
                <a class="blue-text">병신</a>
            </li>
            <li>
                <a class="blue-text">ㅇㅇ</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}