@font-face {
    font-family: nanumsquare;
    src: url('/static/font/NanumSquareLight.ttf');
}
body{
    font-family:"nanumsquare", sans-serif;
}
nav{
    background: rgba(0,0,0,0);
    box-shadow: none;
    position: absolute;
}
.logo{

    padding-top: 10px;
    padding-left: 30px;
    height: 35px;
}
.no-margin{
    margin: 0 !important;
}
.no-padding{
    padding: 0 !important;
}
body{
    OVERFLOW-X: HIDDEN;
}
.page-footer {
    padding-top: 80px;
    color: #4C4C4C;
    background-color: #EFEFEF;

    padding-bottom: 100px;
}
