
.iphone{
    height: 82vh;
    margin-top: 12vh;
    margin-bottom: 9vh;
}
.iphone2{
    position: absolute;
    height: 80vh;
    margin-top: 10vh;
    left:0;
    right:0; 
    margin-left:auto;
    margin-right:auto; 

}
.main-phone{
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 9vh;
}
.section-text{
    margin-top: 35vh;
    text-align: right;
}
.section{
    padding-left: 30%;
    padding-right: 30%;
    height: 100vh;
    overflow: hidden;
}
.section-2{
    background-color:rgba(0, 170, 255, 0.05)
}
.section-1-1{
    height:75vh;
    background:rgba(0, 170, 255, 0.7);
    background-image: url('/static/media/star.svg');
    background-size: cover;
}

.section-1-2{
    height:auto;
    background:#F2FBFF;
}
.section-container-2{
    padding-top: 10%;
}
.section-container-2-1{
    padding-top: 1%;
    font-size: 20px;
}
.section-tit{
    font-size: 36px;
    margin: 0;
    font-weight: 400;
}
.section-con{
    font-size: 17px;
    font-weight: 300;
    margin-top: 3px;
}
.section-con-2{
    font-size: 28px;
    font-weight: 200;
}
.section-text-0{
    width: 100%;
    margin-left:64%;
    margin-top: 32vh;
}
.section-text-2{
    position: absolute;
    width: 100%;
    margin-left:67%;
    margin-top: 65vh;
}
.graph{
    height:  32vh;
    margin-top: 3vh;
}
.section-text-3{
    margin-top: 32vh;
}
.singo{
    height:  13vh;
    margin-top: 5vh;
}
.google-btn{
    height:  6vh;
    margin-top: 1.6vh;
}
.m-graph{
    display: none;
}

.iphone3{
    margin-top: 10vh;
    margin-left:10%;
    height:  80vh;
}
.footer-permision-1{
    font-size: 17px;
    line-height: 26px;
    padding-right:2%;
}
.footer-permision{
    font-size: 17px;
    line-height: 26px;
    padding-left:2%;
    padding-right:2%;
    border-left-style:solid;
    border-left-color:  #4C4C4C;
    border-left-width: 1px;
}
.footer-info{
    
    padding-left:1%;
    border-left-style:solid;
    border-left-color:  #4C4C4C;
    border-left-width: 1px;
    line-height: 26px;
    padding-right:0.5%;
    font-weight: 100;
}
.footer-info-1 {
    line-height: 26px;
    padding-right:0.5%;
    font-weight: 100;
}
.footer-permision-row{
    margin-bottom:50px;
}
.font-bold{
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.sponser{
    padding:0 !important;
    margin-top:25px;
}
.star{
    display: none;
}
@media only screen and (max-width: 993px) {
    nav .brand-logo {
        left: 5%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .section-text-0{
    width: 100%;
    margin-left:64%;
    margin-top: 10vh;
    text-align: center;
}
.google-btn{
    position: absolute;
    margin-top: 1.2vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-phone {
    width: 100%;
    margin-top: 15vh;
}
.section-text{
    margin-top: 10vh;
    text-align: left;
    padding-left:25% !important;

}
.graph{
    display: none;
}
.m-graph{
    height: 10vh;
    margin-top: 3vh;
    display: block;
}
.iphone{
    height: auto;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 0vh;
    left:0;
    right:0; 
    margin-left:auto;
    margin-right:auto; 

}
.section{
    padding-left: 30%;
    padding-right: 30%;
    height: 100vh;
}
.section-1-1 {
    height: 75vh;
    background: rgba(0, 170, 255, 0.7);
    background-image: none;
    background-size: cover;
}
.section-1-2 {
    height: 45vh;
    background: #F2FBFF;
}
.section-text-2{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 10vh;
    text-align: center;
}
.iphone2 {
    position: relative;
    height: auto;
    width: 60%;
    margin-top: 5vh;
    left: 0;
    right: 0;
    margin-left: 20%;
    margin-right: auto;
}
.section-text-3{
    text-align: center;
    margin-top: 12vh;
}
.iphone3{
    margin-top: 8vh;
    margin-left:10%;
    width: 60%;
    height: auto;
}
.star{
    display: inline-block;
    width: auto;
    padding-right: 10%;
}
}


@media only screen and (max-width: 600px) {

.section{
    padding-left: 30%;
    padding-right: 30%;
    height: auto;
    overflow: hidden;
}
.m-section{
    
    height: 100vh;
}
    nav .brand-logo {
        left: 5%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .section-text-0{
    width: 100%;
    margin-left:64%;
    margin-top: 10vh;
    text-align: center;
}
.section-con{
    font-size: 15px;
}
.section-tit{
    font-size: 28px;
    margin: 0;
    font-weight: 400;
}
.google-btn{
    position: absolute;
    margin-top: 1.2vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-phone {
    width: 100%;
    margin-top: 15vh;
}
.section-text{
    margin-top: 10vh;
    text-align: left;
    padding-left:10% !important;
    padding-right:10% !important;
}
.graph{
    display: none;
}
.m-graph{
    height:  9vh;
    margin-top: 3vh;
    display: block;
}
.iphone{
    height: auto;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 0vh;
    left:0;
    right:0; 
    margin-left:auto;
    margin-right:auto; 

}
.section-text-2{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 10vh;
    text-align: center;
}
.iphone2 {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 5vh;
    left: 0;
    right: 0;
    margin-left: 0%;
    margin-right: auto;
}
.section-text-3{
    text-align: center;
    margin-top: 12vh;
}
.iphone3{
    margin-top: 8vh;
    margin-left:0%;
    width: 100%;
}
.singo{
    width:  100%;
    height: auto;
    margin-top: 5vh;
}
.footer-permision{
    font-size: 18px;
    line-height: 26px;
}
nav .brand-logo {
    display: none;
}
.section-con-2{
    font-size: 22px;
    font-weight: 200;
}

.section-1-1{
    height:70vh;
}
.section-1-2{
    height:40vh;
    background:#F2FBFF;
}
.section-container-2-1{
    font-size: 15px;
    font-weight: 300;
}
.star{
    display: inline-block;
    width: 90%;
    padding-right: 10%;
}
.footer-permision-1{
    font-size: 17px;
    line-height: 36px;
    padding-right:2%;
    display: block;
}
.footer-permision{
    font-size: 17px;
    line-height: 36px;
    padding-left:0%;
    border-left-style:none;
    border-left-color:  #4C4C4C;
    border-left-width: 1px;
    display: block;
}
.footer-info{
    
    padding-left:1%;
    border-left-style:none;
    border-left-color:  #4C4C4C;
    border-left-width: 1px;
    line-height: 26px;
    padding-right:0%;
    font-weight: 100;

    display: block;
}
.footer-info-1 {
    line-height: 26px;
    padding-right:0%;
    font-weight: 100;
}
}
